:root{
    --primary: hsl(0, 0%, 100%);
    --second: hsl(62, 87%, 43%);
    --bgColor: hsl(207, 59%, 7%);
    --textColor: hsl(0, 0%, 100%);
    --textColorBlack: hsl(0, 0%, 0%);
    --articleColor: hsla(0, 100%, 50%, 0.146);
    --universalColor: hsl(16, 57%, 45%);
    --divColor: hsla(225, 61%, 26%, 0.563);
    --borderGreen: hsl(134, 100%, 30%);
    --borderRed: hsl(0, 100%, 50%);
    --borderBlue:hsl(226, 62%, 50%);
}